<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohit.stammer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/stammer_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".tasks.MeditationTimingActivity"
            android:parentActivityName=".tasks.MeditationTaskActivity"/>
        <activity
            android:name=".tasks.MeditationTaskActivity"
            android:parentActivityName=".DashboardActivity"/>
        <activity
            android:name=".tasks.SpreadAwarenessTimingActivity"
            android:parentActivityName=".tasks.SpreadAwarenessActivity"/>
        <activity
            android:name=".tasks.ReadCaseStudyActivity"
            android:parentActivityName=".tasks.CaseStudyActivity"/>
        <activity
            android:name=".tasks.ReadTaskActivity"
            android:parentActivityName=".DashboardActivity"/>
        <activity
            android:name=".tasks.ReadContentActivity"
            android:parentActivityName=".tasks.ReadTaskActivity"/>
        <activity
            android:name=".tasks.PictureAnalyzeActivity"
            android:parentActivityName=".tasks.PictureWatchActivity"/>
        <activity
            android:name=".tasks.PictureWatchActivity"
            android:parentActivityName=".tasks.SpeechTherapyActivity"/>
        <activity
            android:name=".tasks.SpeechTherapyActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".tasks.VideoWatchActivity"
            android:parentActivityName=".tasks.VideoTaskActivity" />
        <activity
            android:name=".tasks.VideoTaskActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".tasks.CaseStudyActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".tasks.SpreadAwarenessActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DashboardActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OnboardingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>